<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>David & Alex Pizzeria</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/pizza.ico') }}"/>
    <!-- CSS Links -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Rock+Salt&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <h2>D&A</h2>
        </div>
        <ul>
          <li><a href="/home">HOME</a></li>
          <li class="active"><a href="/order">ORDER (0)</a></li>
          <li><a href="/account">ACCOUNT</a></li>
          <li><a href="/logout">LOGOUT</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>Craft-A-Pizza</h1>
        <form action="/add_pizza" method="POST">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">METHOD:</label>
            <div class="form-group col-md-7">
              <select id="method" class="form-control" name="method">
                <option selected>Carry Out</option>
                <option>Delivery</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">SIZE:</label>
            <div class="form-group col-md-7">
              <select id="size" class="form-control" name="size">
                <option selected value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">CRUST:</label>
            <div class="form-group col-md-7">
              <select id="crust" class="form-control" name="crust">
                <option value="Thin Crust">Thin Crust</option>
                <option selected value="Original">Original</option>
                <option value="Deep Dish">Deep Dish</option>
                <option value="Stuffed">Stuffed</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">QUANTITY:</label>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="quantity" name="quantity" style="text-align: center;">
            </div>
          </div>
          <div class="col-sm-0">TOPPINGS:</div>
          <br>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check form-check-inline col-sm-4">
                <input class="form-check-input" type="checkbox" id="Bacon" name="topping" value="Bacon">
                <label class="form-check-label" for="Bacon">Bacon</label>
              </div>
              <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" id="Banana Peppers" name="topping" value="Banana Peppers">
                <label class="form-check-label" for="Banana Peppers">Banana Peppers</label>
              </div>
              <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="checkbox" id="Beef" name="topping" value="Beef">
                <label class="form-check-label" for="Beef">Beef</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check form-check-inline col-sm-4">
                <input class="form-check-input" type="checkbox" id="Black Olives" name="topping" value="Black Olives">
                <label class="form-check-label" for="Black Olives">Black Olives</label>
              </div>
              <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" id="Cheddar Cheese" name="topping" value="Cheddar Cheese">
                <label class="form-check-label" for="Cheddar Cheese">Cheddar Cheese</label>
              </div>
              <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="checkbox" id="Diced Tomatoes" name="topping" value="Diced Tomatoes">
                <label class="form-check-label" for="Diced Tomatoes">Diced Tomatoes</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check form-check-inline col-sm-4">
                <input class="form-check-input" type="checkbox" id="Feta Cheese" name="topping" value="Feta Cheese">
                <label class="form-check-label" for="Feta Cheese">Feta Cheese</label>
              </div>
              <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" id="Green Peppers" name="topping" value="Green Peppers">
                <label class="form-check-label" for="Green Peppers">Green Peppers</label>
              </div>
              <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="checkbox" id="Ham" name="topping" value="Ham">
                <label class="form-check-label" for="Ham">Ham</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check form-check-inline col-sm-4">
                <input class="form-check-input" type="checkbox" id="Hot Sauce" name="topping" value="Hot Sauce">
                <label class="form-check-label" for="Hot Sauce">Hot Sauce</label>
              </div>
              <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" id="Italian Sausage" name="topping" value="Italian Sausage">
                <label class="form-check-label" for="Italian Sausage">Italian Sausage</label>
              </div>
              <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="checkbox" id="Jalapeno Peppers" name="topping" value="Jalapeno Peppers">
                <label class="form-check-label" for="Jalapeno Peppers">Jalapeno Peppers</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check form-check-inline col-sm-4">
                <input class="form-check-input" type="checkbox" id="Mushrooms" name="topping" value="Mushrooms">
                <label class="form-check-label" for="Mushrooms">Mushrooms</label>
              </div>
              <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" id="Onions" name="topping" value="Onions">
                <label class="form-check-label" for="Onions">Onions</label>
              </div>
              <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="checkbox" id="Pepperoni" name="topping" value="Pepperoni">
                <label class="form-check-label" for="Pepperoni">Pepperoni</label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary col-md-12">ADD TO ORDER</button>
        </form>
      </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https: //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>