<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>David & Alex Pizzeria</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/pizza.ico') }}"/>
    <!-- CSS Links -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Rock+Salt&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <h2>D&A</h2>
        </div>
        <ul>
          <li><a href="/home">HOME</a></li>
          <li class="active"><a href="/order">ORDER ({{ordercount}})</a></li>
          <li><a href="/account">ACCOUNT</a></li>
          <li><a href="/logout">LOGOUT</a></li>
        </ul>
      </div>
      <div class="title">
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="list-group">
                        {% for category, message in messages %}
                            <li class="list-group-item list-group-item-{{category}}">{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <h1>Craft-A-Pizza</h1>
        <form action="/add_pizza" method="POST">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">METHOD:</label>
            <div class="form-group col-md-7">
              <select id="method" class="form-control" name="method">
                <option selected>Carry Out</option>
                <option>Delivery</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">SIZE:</label>
            <div class="form-group col-md-7">
              <select id="size" class="form-control" name="size">
                <option selected value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">CRUST:</label>
            <div class="form-group col-md-7">
              <select id="crust" class="form-control" name="crust">
                <option value="Thin Crust">Thin Crust</option>
                <option selected value="Original">Original</option>
                <option value="Deep Dish">Deep Dish</option>
                <option value="Stuffed">Stuffed</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">QUANTITY:</label>
            <div class="form-group col-md-5">
              <input type="number" class="form-control" id="quantity" value="1" name="quantity" style="text-align: center;">
            </div>
          </div>
          <div class="col-sm-0">TOPPINGS:</div>
          <br>
          <div class="form-group row">
            <div class="col-sm-14">
              {% for topping in toppings %}
                <div class="form-check form-check-inline col-sm-3">
                  <input class="form-check-input" type="checkbox" id="{{topping.topping}}" name="topping" value="{{topping.id}}">
                  <label class="form-check-label" for="{{topping.topping}}">{{topping.topping}}</label>
                </div>
              {% endfor %}
            </div>
          <button type="submit" class="btn btn-primary col-md-12">ADD TO ORDER</button>
        </form>
      </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https: //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>