<!DOCTYPE html>
<html lang="en">
	<head>
		<title>David & Alex Pizzeria</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/pizza.ico') }}"/>
		<!-- CSS Links -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Rock+Salt&display=swap">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		
		<script src="{{ url_for('static', filename='js/jquery.vide.js') }}"></script>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" action="/register" method="POST">
						<span class="login100-form-title p-b-26">David &<br>Alex<br>Pizzeria</span>
						<div>
							{% with messages = get_flashed_messages(with_categories=True) %}
								{% if messages %}
								<div class="flashes">
									<ul class="list-group">
										<span class="errors">Registration Errors:</span>
										{% for category, message in messages %}
											<li class="list-group-item list-group-item-{{category}}">{{message}}</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
							{% endwith %}
						</div>
						<div class="wrap-input100 validate-input" id="split">
							<label>First Name</label>
							<input class="input100" type="text" name="first_name">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input" id="split">
							<label>Last Name</label>
							<input class="input100" type="text" name="last_name">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input">
							<label>Email</label>
							<input class="input100" type="text" name="email">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input">
							<label>Address</label>
							<input class="input100" name="address" id="autocomplete" onFocus="geolocate()" type="text" placeholder="">
							<span class="focus-input100"></span>
						</div>
						<input class="input100" type="hidden" name="street_number" id="street_number">
						<input class="input100" type="hidden" name="address" id="route">
						<div class="wrap-input100 validate-input" id="split80">
							<label>City</label>
							<input class="input100" type="text" name="city" id="locality">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input" id="split20">
							<label>State</label>
							<select class="state" name="state" id="administrative_area_level_1" >
								<option value="AL">AL</option>
								<option value="AK">AK</option>
								<option value="AR">AR</option>
								<option value="AZ">AZ</option>
								<option value="CA">CA</option>
								<option value="CO">CO</option>
								<option value="CT">CT</option>
								<option value="DC">DC</option>
								<option value="DE">DE</option>
								<option value="FL">FL</option>
								<option value="GA">GA</option>
								<option value="HI">HI</option>
								<option value="IA">IA</option>
								<option value="ID">ID</option>
								<option value="IL">IL</option>
								<option value="IN">IN</option>
								<option value="KS">KS</option>
								<option value="KY">KY</option>
								<option value="LA">LA</option>
								<option value="MA">MA</option>
								<option value="MD">MD</option>
								<option value="ME">ME</option>
								<option value="MI">MI</option>
								<option value="MN">MN</option>
								<option value="MO">MO</option>
								<option value="MS">MS</option>
								<option value="MT">MT</option>
								<option value="NC">NC</option>
								<option value="NE">NE</option>
								<option value="NH">NH</option>
								<option value="NJ">NJ</option>
								<option value="NM">NM</option>
								<option value="NV">NV</option>
								<option value="NY">NY</option>
								<option value="ND">ND</option>
								<option value="OH">OH</option>
								<option value="OK">OK</option>
								<option value="OR">OR</option>
								<option value="PA">PA</option>
								<option value="RI">RI</option>
								<option value="SC">SC</option>
								<option value="SD">SD</option>
								<option value="TN">TN</option>
								<option value="TX">TX</option>
								<option value="UT">UT</option>
								<option value="VT">VT</option>
								<option value="VA">VA</option>
								<option value="WA">WA</option>
								<option value="WI">WI</option>
								<option value="WV">WV</option>
								<option value="WY">WY</option>
							</select>
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input" id="split">
							<label>Password</label>
							<input class="input100" type="password" name="password" >
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input" id="split">
							<label>Confirm Password</label>
							<input class="input100" type="password" name="confirm_password">
							<span class="focus-input100"></span>
						</div>
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">Submit</button>
							</div>
						</div>
						<div class="text-center p-t-25">
							<a class="txt2" href="/">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/register.js') }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2k9Ce9_Ct3un-RjLAo_qxbVNsA09mTtw&libraries=places&callback=initAutocomplete"
		async defer></script>
		
	</body>
</html>